.sep20
.box
  .inner#Tabs(style="background-color: #fff; border-top-left-radius: 3px; border-top-right-radius: 3px;border-bottom: 1px solid #e2e2e2")
    a.tab_current(href="/?type=it") IT技术
    a.tab(href="/?type=fun") 娱乐
  .cell
    table(width="100%")
      tbody
        tr
          td(width="auto")
            span.item_title
              a(href="/t?id=21321") c语言教学博客
            .sep5
            span.small.fade
              strong
                a(href="/member?id=321") liuxiangyu 
              &nbsp;&nbsp;五分钟前&nbsp;&nbsp;最后回复来自于
              strong
                a(href="/member?id=213") liuxiangyu
          td(width="70", align="right")
            a.count_livid(href="/t?id=23211") 32
  .cell
    table(width="100%")
      tbody
        tr
          td(width="auto")
            span.item_title
              a(href="/t?id=21321") c语言教学博客
            .sep5
            span.small.fade
              strong
                a(href="/member?id=321") liuxiangyu 
              &nbsp;&nbsp;五分钟前&nbsp;&nbsp;最后回复来自于
              strong
                a(href="/member?id=213") liuxiangyu
          td(width="70", align="right")
            a.count_livid(href="/t?id=23211") 32
