div#Top
  .content
    div(style="padding-top: 6px;")
      table(cellpadding="0", cellspacing="0", border="0", width="100%")
        tbody
          tr
            td(width="110", align="left")
              a(href="/", title="web")
                img(src="/img/logo@2x.png", border="0", align="default", width="94", height="30")
            td(width="auto", align="left")
            td(width="570", align="right", style="padding-top: 2px;")
              a.top(href="/") 首页
              &nbsp;&nbsp;&nbsp;
              a.top(href="/") 注册
