doctype html

html(lang="zb-CH")
  head
    link(href="/stylesheets/basic/style.css", rel="stylesheet")
    meta(charset="UTF-8")
  body
    include ./basic/top
    include ./basic/wrapper
    include ./basic/bottom
