.sep20
.box
  .cell
    table(width="100%")
      tbody
        tr
          td
            .sep3
            strong
              a.dark(href="/member?id=321") liuxiangyu
            span.fade.small 1 小时 2 分钟前 via Android
            .sep5
            .reply_content 这是个很好的语言
